.custom-file-control:lang(pt)::after {
  content: attr(data-content) !important;
  
}

.custom-file-control:lang(pt)::before {
  content: "Procurar" !important;
}

.custom-file-control.selected:lang(pt)::after {
  content: "" !important;
}
 .custom-file {
 	overflow: hidden;
 }

html {
    font-size: 1.15vw;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1vw !important;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 3vw !important;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 5vw !important;
    }
}

html * {
    color: #323436;
}

a {
	color: #2A5DB0;
}

a.nav-link {
	color: #323436;
}

a.nav-link:hover {
	color: #3234B0;
}

.standard-color-blue {
    background-color: #324c5d !important;
}

.color-text{
    color: #4b4d4f !important;
}


