
.custom-file-control:lang(pt)::after {
  content: attr(data-content) !important;
  
}

.custom-file-control:lang(pt)::before {
  content: "Procurar" !important;
}

.custom-file-control.selected:lang(pt)::after {
  content: "" !important;
}
 .custom-file {
 	overflow: hidden;
 }

html {
    font-size: 1.15vw;
    /*overflow-wrap: break-word;*/
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 0.1vw !important;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 0.1vw !important;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 3vw !important;
    }
}

.smaller-font {
	font-size: 1.5vw !important;
}

html * {
    color: #323436;
}

a {
	color: #2A5DB0;
}

a.nav-link {
	color: #323436;
}

a.nav-link:hover {
	color: #3234B0;
}

.standard-color-blue {
    background-color: #324c5d !important;
}

.color-text{
    color: #4b4d4f !important;
}

.img-wrapper{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.img-wrapper img{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}


