/*$custom-file-text: (
  placeholder: (
    en: "Selecionar arquivo..."
  ),
  button-label: (
    en: "Procurar"
  )
);*/
.custom-file-control:lang(pt)::after {
  content: "Selecionar arquivo..." !important;
}

.custom-file-control:lang(pt)::before {
  content: "Procurar" !important;
}

html {
    font-size: 1.1vw;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1vw;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 3vw;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 5vw;
    }
}

html * {
    color: #323436;
}

a {
	color: #2A5DB0;
}

a.nav-link {
	color: #323436;
}

a.nav-link:hover {
	color: #3234B0;
}

.standard-color-blue {
    background-color: #324c5d !important;
}

.color-text{
    color: #4b4d4f !important;
}

/* support custom file inputs */
.custom-file-control:after {
    content: attr(data-content) !important;
}

